.projects {
    margin-left: 50px;
    margin-right: 50px;
    height: 100%;
}

.nav-link {
    color: white;
    
}

.main { 
    background-color: white;
    height: 100%;
    padding-bottom: 60px;
}

.card {
    color: black;
    margin-bottom: 50px;
    border: none;
}

.project {
    height: 30%;
}